blosc
cached-property
click
cloudpickle>=1.6
cython
dash>=2.0.0
devito
flake8
gputil
h5py>=3.2
multiprocess
nbval
ndsplines
numpy>=1.20
notebook>=6.4
pre_commit
psutil
pyflakes
py-libnuma
pytest
pytest-cov
pytest-runner
pyyaml>=5.4
pyzmq>=22.1
python-daemon
resampy
scikit-image
scipy>=1.6
sphinx
sphinx_rtd_theme
tornado>=6.1
tblib
torch
tqdm
ipympl
uvloop
zlib
zict>=3.0.0
