blosc
cached-property
click
cloudpickle>=1.6
cython
devito>=4.3
flake8
gputil
h5py>=3.1
numpy>=1.19
pickle5
pre_commit
psutil
pyflakes
pytest
pytest-cov
pyyaml>=5.1
pyzmq>=20.0
scikit-image
scipy>=1.6
sphinx
sphinx_rtd_theme
pytest-runner
