blosc
cached-property
click
cloudpickle>=1.6
cython
dash>=2.0.0
devito>=4.6
flake8
gputil
h5py>=3.2
nbval
numpy>=1.20
pickle5
pre_commit
psutil
pyflakes
py-libnuma
pytest
pytest-cov
pytest-runner
pyyaml>=5.4
pyzmq>=22.1
python-daemon
scikit-image
scipy>=1.6
sphinx
sphinx_rtd_theme
uvloop
zict
